<ion-header>
  <ion-segment [(ngModel)]="selectedAnimation" color="danger" (ionChange)="changeAnimations()">
    <ion-segment-button value="lottie" selected="true">
      Lottie
    </ion-segment-button>
    <ion-segment-button value="bodymovin">
      Bodymovin
    </ion-segment-button>
    <ion-segment-button value="other">
      Other
    </ion-segment-button>
    <ion-segment-button value="interactive">
      Interactive
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content>
  <section *ngIf="interactive">
    <h3>Click!</h3>
    <lottie-animation-view
      *ngIf="interactive"
      (click)="animate()"
      (animCreated)="handleAnimation($event)"
      [options]="animationOption"></lottie-animation-view>
  </section>
  <section *ngIf="!interactive">
    <lottie-animation-view *ngFor="let option of animations" [options]="option"></lottie-animation-view>
  </section>
</ion-content>
